{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>LF Inditech</title>
    <!-- font icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + LeadMark main styles -->
    <link rel="stylesheet" href="{% static 'assets/css/leadmark.css' %}">
    <script src="https://kit.fontawesome.com/8089eca523.js" crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'assets/imgs/logo.svg' %}" alt="">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About Us</a>
                    </li>
                    <li>
                    {% comment %} <select name="cars" id="cars">
                    <option value="services">Services</option>
                    <option value="lans survey">Land Survey CADD drafting</option>
                    <option value="land">Land Development services</option>
                    <option value="architecture">Architectural services</option>
                    <option value="gis">GIS</option> {% endcomment %}
                    <div class="dropdown">
                    <a class="nav-link">Services</a>
                    <div class="dropdown-content">
                        <a href="#landsurvey" class="nav-link">Land Survey CADD drafting</a>
                        <a href="#land" class="nav-link">Land Development services</a>
                        <a href="#archs" class="nav-link">Architectural services</a>
                        <a href="#gis" class="nav-link">GIS</a>
                    </div>
                    </div>
                </select>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#whyus">Why Us</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="components.html" class="ml-4 nav-link btn btn-primary btn-sm rounded">Components</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Second Navigation -->

    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <h1 class="title">LF INDITECH INDIA, LLC</h1>
            <h1 class="subtitle">OUTSOURCE MADE EASY</h1> 
        </div>
        <div class="shape">
            <svg viewBox="0 0 1500 200">
                <path
                    d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z" />
            </svg>
        </div>
        <div class="mouse-icon">
            <div class="wheel"></div>
        </div>
    </header>
    <!-- End Of Page Header -->



    <div class="container">
        <h6 class="head">Home</h6>
        <p>LF INDITECH CAD services team is led by a team of qualified architects who manage all projects from
            requirement gathering through to delivery. We support our clients with architectural drafting services and
            architectural detailing services. We provide architectural CAD services for all stages of projects,
            including tender, planning, construction, and facility management for industrial, commercial, retail and
            residential projects.

            LF INDITECH ensures creation of accurate CAD drawings, as per ISO, AIA or customer defined CAD drafting with
            specifications of scale, dimensions, dimensions styles, font styles, layers and symbols.</p>
    </div>
    <section  id="about">
    <br><br>
    </section>
    <!-- About Section -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                    <h6 class="section-title mb-0">About Company</h6>
                    <h6 class="section-subtitle mb-4">LF INDITECH INDIA, LLC</h6>
                    <h6>Welcome Aboard . .  !</h6>
                    <p>LF INDITECH is a global corporation offering solutions in Civil Engineering, Land Surveying, Architecture  and Outsourcing Services.
                    We have a reputation of delivering drafting, plotting , engineering design as well as mapping projects with much aplomb in several parts 
                    of the United States. We understand the surveyor's mindset as well as the industry expectations when it
                     comes to accuracy of processed CAD data. This has helped us maintain extremely high standards of accuracy
                    and our highly renewable client relationships stand testament to that.</p>
                    
                    <img src="{% static 'assets/imgs/drawing.jpg' %}" alt="" class="w-100 mt-3 shadow-sm">
                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row">
                        <div class="col-12">
                            <img src="{% static 'assets/imgs/comupurtdesign.jpg' %}" alt="" height="300" class="w-100 shadow-sm">
                        </div>
                        
                        <div class="col-12 mt-4">
                            <h6>Our business is built on the following key aspects which we consider as elements of our DNA:</h6>
                            <p>
                            <ul>
                                <li>Customer-centric approach.</li>
                                <li>No compromise on accuracy and efficiency.</li>
                                <li>‘First time right’ delivery every time.</li>
                                <li>Determined resolve to meet deadlines.</li>
                            </ul>
                            </p>
                            <p>LF INDITECH is well known for the Auto CAD, 3D visualization, Surveying, Civil support, etc. 
                            The organization is focused on providing services to the clients that would help their business flourish,
                             the need for the hour is a highly effective and appropriate Business Website that says volumes about the
                              business and that is what our team is best handling at.
​
</p>
                            <p>The civil designs that are work that require precision and dedication is handled with great 
                            vigor by the industry experts that are known to be working in the actual sites gaining experience. 
                            The Construction Documentary and Markups make sit evident that we are focused on what we handled and 
                            have a model in detailed documentation to share it with the clients.</p>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </section>
    <!-- End OF About Section -->

    <!--Our Vision-->
    <section id="service" class="section pt-0">
        <div class="container my-2">
            <h6 class="section-title head" style="padding:10px;">Our Vision</h6>
            <p><strong>LF INDITECH</strong> will be a partner of choice by providing value to enable our customer&#39;s long-
            term sustainable growth.<br>
            ​
            Also <strong>LF INDITECH</strong> work with the mission high quality designs support to the clients who are
            looking for cost effective, professional and innovative services. To help fulfill this mission, we
            work to develop an enjoyable and organized work environment.  Each team member is involved
            in each project from start to finish, ensuring responsive and cost effective designs.</p>
        </div>
    </section>
    <!--Our vision end-->

    <!--Our mission-->
    <section>
        <div class="container">
        <h6 class="head"  style="padding:10px;">Our Mission</h6>
        <p>
            <strong>LF INDITECH</strong> is committed to providing ongoing value to our customers. We leverage
            technology and implement best practices, to provide a range of high quality and cost-efficient
            Information Technology Solutions, from global locations enabling customers achieve their
            business goals.
            ​
            <strong>LF INDITECH</strong> committed to provide high standard, professional computer aided design and drafting services to
            AEC and Software companies by maintaining high quality work, professional approach and empowering employees.

        </p>
         </div>
    </section>
    <!--Our missoin End-->
    <!--Why Us-->
    <section id="whyus" class="section pt-6">
        <div class="container my-2">
            <h6 class="section-title head" style="padding: 10px;">Why Us ?</h6>
            <ul class="whyus">
                <li>&#10004;  Experience in-depth project management under one roof, across design, data and delivery.</li>
                <li>&#10004;  LF INDITECH is well aware and skilled in trending drafting technologies to provide you a desirable assessment.</li>
                <li>&#10004;  We support highly detailed drafting solutions that meet your desired requirement.</li>
            </ul>
            {% comment %} <div>
                <h4>When you think ground control, think ​LF INDITECH.</h4>
                <ul class="numstyle">
                    <li>PINPOINT ACCURACY</li>
                    <li>EFFICIENCY OVER EVERYTHING</li>
                    <li>LIGHTNING FAST TURNAROUND TIMES</li>
                    <li>LEAN BOTTOM LINES AND CRANKED UP PROFITS</li>
                    <li>CUSTOMIZED TEAMS, CUSTOMIZED SOLUTIONS</li>
                    <li>Customer Focus</li>
                    <li>Data Security</li>
                    <li>Team Work</li>
                    <li>Leadership Quality</li>
                    <li>Innovation / Ideas</li>
                </ul>
            </div> {% endcomment %}
        </div>
    </section>
    <!--Why Us End-->


    <!-- Service Section -->
    <section  id="service" class=" pt-0">
        <div class="container">
            
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <h5 class="textsize" style="text-align: center;" class="card-title mt-3"><i style="color:  #fff" class="fa-solid fa-hand-holding-dollar"></i> Price <h5>
                            <p class="mb-0">We provide high qualit We support highly detailed drafting solutions that meet your
             desired requirement. work at very reasonable and affordable price.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                        <h5 class="textsize" style="text-align: center;" class="card-title mt-3"><i style="color:  #fff" class="fa-solid fa-stamp"></i> Quality <h5>
                            <p class="mb-0">Our technic We support highly detailed drafting solutions that meet your desired requirement. 
             ians have years of experience in this field and we use latest software.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <h5 class="textsize" style="text-align: center;" class="card-title mt-3"><i style="color:  #fff" class="fa-solid fa-circle-check"></i> Accuracy <h5>
                            <p class="mb-0">99.9%? YES! Accurate delivery has been our motto for success. We never compromise on accuracy, and always
              strive to provide the accurate results of the processed CAD data.</p>
                        </div>
                    </div>
                </div>              
            </div>
            <div class="row mt-4">
            <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <h5 class="textsize" style="text-align: center;" class="card-title mt-3"><i style="color:  #fff" class="fa-solid fa-user-lock"></i> Data Security <h5>
                            <p class="mb-0">We take sufficient care to ensure that the data from customer are safe and protected.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                        <h5 class="textsize" style="text-align: center;" class="card-title mt-3"><i style="color:  #fff" class="fa-solid fa-people-group"></i> Team Work <h5>
                            <p class="mb-0">Effective planning, proper delegation and smooth coordination to achieve 
             results effectively & collectively is key for our success.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                   
                </div>              
            </div>

        </div>
    </section>
<section id="landsurvey"><br></section>
    <!-- Service Section -->
    <section id="service" class="section pt-0">
        <div class="container my-2">
            <h6 class="section-title text-center " style="padding-top:40px;">Our Services</h6>

           
                <div class="">
                    <h4 class="fontbold">Land Survey CADD drafting</h4>
                    <p>LF INDITECH is an established drafting services company offering a wide range of land survey CAD
                        drafting services we can do work with high Technology with required advanced tools and industry
                        standard software as per requirement of client for CADD drafting.
                        The role of surveyor is as important as the role of CAD drafters in improving the quality of
                        land measurement. LF INDITECH provide both 2D and 3D services through advanced computer
                        software. We specialize in survey land drafting, Land Development, contour maps, 2D and 3D
                        modelling, civil drafting and drawing is an important role in design of buildings, bridges,
                        highways, etc. </p>

                </div>
           
        </div>
    </section>
    <!-- End OF Service Section -->


    <!-- Testmonial Section -->
    <div class="container">
    <h4 class="land">Land survey drafting services</h4>
    </div>
    <section class="section" id="testmonial">
        <div class="container">
        
        <details>
            <summary class=" sumarryclass">Mortgage and residential survey</summary>
            <p id="Mortgage">A mortgage is often required when purchase a property. Also real estate market need a mortgage survey for
                inspect a property. For the property the physical inspect is needed but not enough. Then mortgage survey
                is play important role. It verifies the boundary of the property enchroachments and other structures
                that exist on it. Mortgage survey is also needed when looking for a mortgage loan. </p>
        </details>
        </div>
    </section>
    <section class="section" id="testmonial">
        <div class="container">
        <details>
            <summary class=" sumarryclass">Boundary survey</summary>
            
            <p>In simple words, boundary survey means boundaries of a property. The boundary survey is needed when
                before the property is buying, dividing, improving or building on land. It focuses largely on defining
                the corners of parcel of land. In boundary survey fences are mostly used as way to know where your
                property is however, they are rarely built directly on the property lines. After boundary survey is
                complete, the CAD drawing is needed for better measurement accuracy.</p>
            </details>
        </div>
    </section>

    <section class="section" id="testmonial">
        <div class="container">
         <details>
            <summary class=" sumarryclass">ALTA/NSPS/ACSM Title Survey</summary>
           
            
            <p>ALTA/NSPS/ACSM Title Survey are detailed, also including important information about property such as
                real property, boundaries, property line, enchroachments, easements, liens and land ownership data. This
                survey is to provide consistency and uniformity to the title industry. ALTA surveys show land ownership,
                easements, right of way, hidden assets, parcel boundaries and unrecorded liens. ALTA survey is needed
                before buying or financing real property when there is a need for deeply detailed information such as
                location of sewer line, fences, etc.</p>
        </details>
        </div>
    </section>
    <section class="section" id="testmonial">
        <div class="container">
        <details>
            <summary class=" sumarryclass">Topographic survey</summary>
            
            <p>Topographic survey also known as contours. Topographic survey measure and show all components which
                natural and human made within an area of surveys land. Also topographic survey is a need for to give
                specification about the objects which natural and humans made survey land. Natural features included
                trees and ground contours and human features such as boundaries, walkway, neibouring building, etc.</p>
            </details>
        </div>
    </section>
    <section class="section" id="testmonial">
        <div class="container">
                <details>
            <summary class=" sumarryclass">Subdivision plat</summary>
            
            <p>Subdivision plat is a map drawn with specified scale to track division of land. These indicate lot and
                block designation on the plat. Plat is show the boundaries of easements, alley ways and street. </p>
            </details>
        </div>
    </section>

    <section class="section" id="testmonial">
        <div class="container">
        <details>
            <summary class=" sumarryclass">Tree Service</summary>
            <p>Tree survey is an important survey which is performed on private or public landscape. Tree survey
                included all information about tree. Such as specific name of tree, age of tree, overall health of tree,
                etc. The all information is play the important role for property owner may then decide what to do with
                tree.</p>
            </details>
        </div>
    </section>
    <section class="section" id="land">
        <div class="container">
        <details>
            <summary  class=" sumarryclass">Land Development services</summary>
            <div>
                <p>LF INDITECH INDIA team of experts can work on all aspects of Land Development
                 including site grading, sewer design, storm drainage design, site utility design,
                  paving design, highway and road way design and detailing. Our years of expertise
             in critical services like land development can give you faster and cost effective design solutions when needed.</p>
             <p>
                We use the latest technology and methods in our work to fulfill the needs of our clients.
                 We value your time, so we provide the best services in less time. We provide best civil 
                 engineering services at very reasonable and affordable price to our clients so that they 
                 do not regret in paying.
             </p>
            </div>
                <div class="">
                    <ul class="manualtext">
                    <h4>Land Development services includes</h4>
                        <li>&#10004;  Site planning and designs</li>
                        <li>&#10004;  Sewer and water management </li>
                        <li>&#10004;  Stormwater management </li>
                        <li>&#10004;  Residential development design </li>
                        <li>&#10004;  Feasibility studies </li>
                        <li>&#10004;  Commercial development design </li>
                        <li>&#10004;  Environmental design and reports </li>
                        <li>&#10004;  Subdivision Mapping </li>
                     
                    </ul>
                </div>
             

            </details>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <details>
            <summary id="archs" class="sumarryclass">Architectural services</summary>
            <p>LF INDITECH offers a full choice of <strong>Architectural CAD drafting services</strong> like
             construction drawings, as-built drawings, presentation drawings, and 2D & 3D models, etc.
                ​</p>
            <p>
                ​LF INDITECH CAD Services is specialized in offering comprehensive engineering, architecture,
                 and 3D Visualization. Our team supports client's team by closely integrating and getting
                  involved in each project task. LF INDITECH drives its strength from its extensive knowledge
                   of building systems. We understand the impact of documentation, due to different occupancies,
                    building types, the different wall types and the applicable codes. We are familiar with the 
                    terminology used in construction documents and administration as used in North America, Europe,
                     and the Middle East.</p>
                     <p>Architectural CAD drafting offers quality drawings and lets the architects specialize in their
                      creativity. LF INDITECH, with a team of experienced professionals, offers services for Architectural
                       designs and CAD drafting. We offer effective, innovative and cost-efficient concept designing,
                        and construction CAD drawings to tailor and suit as per your business requirements.</p>
                        <p>
                            Services provides many 2D drafting solutions for architecture including general 
                            layout, plan, elevation and sections. Detailed working drawings which include 
                            Cladding Detail Drawings, coordinated & schematic drawings of HVAC, Electrical,
                             Sanitation & Piping plan,  Fire fighting  & Landscape Drawings etc. Door & Window
                              details, Floor Framing Plan, Roof Framing Plan, Building Section, Wall Sections, 
                              Roof Sections, Kitchen details, Toilet details & Inverted Ceiling Plans are also 
                              drafted in 2D. Outsource your architectural drafting requirements to LF INDITECH 
                              and benefit from our expertise and low pricing.

                        </p>
                          <h3>WHAT WE DO…</h3>

                        <ul >
                            <li>3D Modelling </li>
                            <li>2D Drafting </li>
                            <li>2D And 3D 4 Plan Conversion </li>
                            <li>CAD Conversion </li>
                            <li>BIM</li>
                            <li>Revit Architectural Services</li>
                        </ul>
                        
        
        </details>
        </div>
    </section>


    <div class="container">
        <details>
            <summary id="gis" class="sumarryclass">GIS</summary>
        <p>LF INDITECH being a <strong>GIS Mapping company</strong> gathers, organizes and analyses data whether it be
            spatial or
            non-spatial. The <strong>GIS Mapping services</strong> provided by us give important inputs for the purpose
            of unlocking new
            insights on information like resource location, demographic behaviour, consumer trends etc. about any place.

            <strong>GIS Mapping services </strong>uses CAD, GIS and GPS services for the purpose of gathering and
            analysing data from
            resources like land surveys, aerial pictures, etc. The collected data after being organized in <strong>2D or
                3D</strong> forms is then presented in dynamic maps.

            The <strong>GIS Mapping services</strong> help a lot in knowing about property, location or an asset with
            the help of dynamic
            data that are geographically arranged. And we being a <strong>GIS Mapping Company</strong> help many
            organizations and firms,
            government departments, geologists, environmentalists etc. for a better tomorrow.

        <h3>GIS mapping</h3>
        <h3>GIS application</h3>
        </p>
        </details>
    </div>

    <!-- End of Testmonial Section -->

    <!-- Contact Section -->
    <section id="contact" class="section has-img-bg pb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 my-3">
                    <h6 class="mb-0">Phone</h6>
                    <p class="mb-4">+ 123-456-7890</p>

                    <h6 class="mb-0">Address</h6>
                    <p class="mb-4">12345 Fake ST NoWhere AB Country</p>

                    <h6 class="mb-0">Email</h6>
                    <p class="mb-0">info@website.com</p>
                    <p></p>
                </div>
                <div class="col-md-7">
                    {% for message in messages  %}            
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>Message : </strong> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %} 
                    <form method="post" novalidate>{% csrf_token %}
                        <h4 class="mb-4">Contact With us</h4>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                            	{{ form.name | add_class:'form-control text-white rounded-0 bg-transparent' }} 
                                    <small>{{form.errors.name}}</small>

                                    
                                {% comment %} <input type="text" class="form-control text-white rounded-0 bg-transparent" name="name"
                                    placeholder="Name"> {% endcomment %}
                            </div>
                            <div class="form-group col-sm-4">
                            
                                    {% comment %} {% render_field form.email class="form-control text-white rounded-0 bg-transparent" placeholder=form.email.label %} {% endcomment %}
                            	{{ form.email | add_class:'form-control text-white rounded-0 bg-transparent' }}

<!--                                    <span>{{form.email.errors}}</span>-->
                                    <small>{{form.errors.email}}</small>


                            </div>
                            <div class="form-group col-sm-4">
                            {% comment %} {% render_field form.subject class="form-control text-white rounded-0 bg-transparent" placeholder=form.subject.label %} {% endcomment %}
                            	{{ form.subject | add_class:'form-control text-white rounded-0 bg-transparent' }}
                                    <small id="subjecterror"></small>

                                    <small>{{form.errors.subject}}</small>

                            </div>
                            <div class="form-group col-12">
                            {% render_field form.message class="form-control text-white rounded-0 bg-transparent" placeholder=form.message.label %}         
                            	{% comment %} {{ form.message | add_class:'form-control text-white rounded-0 bg-transparent' }} {% endcomment %}
                                    <small>{{form.errors.message}}</small>


                            </div>
                            <div class="form-group col-12 mb-0">
                                <button type="submit" class="btn btn-primary rounded w-md mt-3">Send</button>
                            </div>
                        </div>
                    </form>
                    <footer class="mt-5 py-6 border-top border-secondary">
                        <ul class="social_media mb-0 small">
                            
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </footer>
                </div>
            
            </div>
           
        </div>
    </section>

    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Isotope -->
    <script src="{% static 'assets/vendors/isotope/isotope.pkgd.js' %}"></script>

    <!-- LeadMark js -->
    <script src="{% static 'assets/js/leadmark.js' %}"></script>
    <script src="{% static 'assets/js/lfjs.js' %}"></script>

</body>

</html>